.app {
    height: 100%;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5rem solid rgb(55, 34, 25);
    background-color: rgb(137, 84, 62);
}
