.card {
    width: calc(33.333% - 0.666rem);
    padding: 1rem;
    border: 0.2rem solid rgb(55, 34, 25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1.8rem;
    background-color: #fff0d6;
    color: #372219
}

.bookTitle,
.bookAuthor,
.bookPages {
    width: 100%;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card button {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

button.read {
    background-color: #007000;
}

button.notRead {
    background-color: #ec3f00;
}

button.remove {
    background-color: #cd0000;
    align-self: flex-end;
}

@media only screen and (max-width: 992px) {
    .card {
        width: calc(50% - 1rem);
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: 98%;
        max-width: 50rem;
    }
}